@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 
====================
MEDIA QUERY MANAGER
====================

Breakpoints
--------------------------------------------------------
0 - 600px:      phone         Phone
600 - 900px;    tablet-port   Tablet portrait
900 - 1200px:   tablet-land   Tablet landscape
1200 - 1800px:                Desktop (our default styles we already wrote)
1800px +        lg-screen     Big Desktop
--------------------------------------------------------
1em = 16px (rem do not always work in media queries but em still respond to user's default browser settings)
*/

// Don't forget to order these largest to smallest for Desktop-first
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) { @content };    // 600px
  }
  @if $breakpoint == tablet-port {
    @media only screen and (max-width: 56.25em) { @content };    // 900px
  }
  @if $breakpoint == tablet-land {
    @media only screen and (max-width: 75em) { @content };   // 1200px
  }
  @if $breakpoint == lg-screen {
    @media only screen and (min-width: 112.5em) { @content };   // 1800px
  }
}
